<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/minty/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <form action="/result" method="post">
        <table>
            <tr>
                <td>Your Name: </td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Dojo Location:</td>
                <td><select name="location" id="">
                        <option value="San Jose">San Jose</option>
                        <option value="Costa Mesa">Costa Mesa</option>
                        <option value="Burbank">Brubank</option>
                    </select></td>
            </tr>
            <tr>
                <td>Favorate Language:</td>
                <td><select name="language" id="">
                        <option value="C#">C#</option>
                        <option value="Python">Python</option>
                        <option value="MEAN">MEAN</option>
                    </select></td>
            </tr>
        </table>
        <p>Comment (optional):<p>
        <textarea name="comment" id="" cols="30" rows="10"></textarea>
        <input type="submit" name="submit" id="">  
    </form>
    </div>

</body>
</html>